@keyframes slideRight {
    from {
      transform: translateX(-20px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideLeft {
    from {
      transform: translateX(20px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slide-right {
    animation: slideRight 1.5s ease-in-out;
  }
  
  .animate-slide-left {
    animation: slideLeft 1.5s ease-in-out;
  }
  