<section id="about" class="py-16 bg-white">
    <div class="container mx-auto px-4 text-center">
      <h2 class="text-3xl font-bold mb-4 animate-slide-right">About Me</h2>
      <div class="w-full md:w-2/3 md:pl-8 animate-slide-right mx-auto">
        <p class="mt-4 md:mt-0 text-lg leading-relaxed">
          Offering over 5 years of extensive experience as a <span class="font-semibold text-blue-500">Java Backend Developer</span>, specializing as a subject matter expert in the <span class="font-semibold text-blue-500">healthcare domain</span>.
          Demonstrated proficiency in designing, developing, and deploying robust backend systems tailored to healthcare applications.
          Well-versed in <span class="font-semibold text-blue-500">Java</span>, <span class="font-semibold text-blue-500">Spring Boot</span>, <span class="font-semibold text-blue-500">Hibernate</span>, and <span class="font-semibold text-blue-500">RESTful API development</span>, with a proven track record of delivering scalable and secure solutions in adherence to industry standards and regulations.
          Known for collaborative prowess across cross-functional teams and adept at leveraging innovative technologies to drive impactful outcomes in <span class="font-semibold text-blue-500">healthcare IT</span>.
        </p>
      </div>
    </div>
  </section>
  