<nav class="bg-gray-800 text-white py-4 fixed w-full z-10 shadow-md transition duration-300">
    <div class="container mx-auto px-4 flex justify-between items-center">
      <a href="/" class="text-2xl font-bold hover:text-blue-300 transition duration-300">Vinay Reddy Kalluri</a>
      <ul class="flex space-x-4">
        <li>
          <a href="#about" class="hover:text-blue-300 active-link">About</a>
        </li>
        <li>
          <a href="#skills" class="hover:text-blue-300 active-link">Skills</a>
        </li>
        <li>
          <a href="#experience" class="hover:text-blue-300 active-link">Experience</a>
        </li>
        <li>
          <a href="#education" class="hover:text-blue-300 active-link">Education</a>
        </li>
        <li>
          <a href="#awards" class="hover:text-blue-300 active-link">Awards</a>
        </li>
        <li>
          <a href="#research" class="hover:text-blue-300 active-link">Research</a>
        </li>
        <li>
          <a href="#contact" class="hover:text-blue-300 active-link">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  