<section id="skills" class="bg-gray-200 py-16">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold mb-4 animate-slide-up">Skills Summary</h2>
      <ul class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <li class="skill-item hover:scale-105 transform transition duration-300">
          Programming Languages: Java SE, Jakarta EE, Python, C/C++
        </li>
        <li class="skill-item hover:scale-105 transform transition duration-300">
          Web Technologies: HTML, CSS, JavaScript (ES6), Angular, Bootstrap, Tailwind CSS
        </li>
        <li class="skill-item hover:scale-105 transform transition duration-300">
          Frameworks: Spring, Hibernate, Apache Kafka, Mockito, JUnit 5, Log4j, Apache POI
        </li>
        <li class="skill-item hover:scale-105 transform transition duration-300">
          Cloud: Google Cloud Platform (GCP), Amazon Web Services (AWS), Microsoft Azure
        </li>
        <li class="skill-item hover:scale-105 transform transition duration-300">
          Databases: MySQL, MongoDB
        </li>
        <li class="skill-item hover:scale-105 transform transition duration-300">
          Software: Microsoft Visual Studio, IntelliJ, Postman, SQL Developer, Secure CRT, Bitbucket, and Git
        </li>
        <li class="skill-item hover:scale-105 transform transition duration-300">
          Gen AI: GitHub Copilot, Gemini, Claude, Tabnine, OpenAI - ChatGPT
        </li>
        <li class="skill-item hover:scale-105 transform transition duration-300">
          Agile Methodologies: Scrum, Kanban
        </li>
        <li class="skill-item hover:scale-105 transform transition duration-300">
          Microservices Architecture: SOA, RESTful Microservices, API Gateway
        </li>
      </ul>
    </div>
  </section>
  